#iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  background-color: pink;
  max-width: 100%;
}

/* figure out layout
h1 {
    text-align: center;
}
img {
    margin: auto;
}
*/
